.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    margin: 100px 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 48px;
}
.cart-container{
    background-color: #FF99004D
}